@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  padding-top: 30px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.fade {
  max-width: 1366px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50px);
  animation: slide-fade-in 1s forwards;
}

.fade2 {
  max-width: 1366px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50px);
  animation: slide-fade-in 1s forwards 1s;
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container .dashboard {
  padding-bottom: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #f1f1f1;
  z-index: 999;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  position: relative;
}

nav a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 0;
}

nav a:hover {
  color: #f1f1f1;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

.tableau-center {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer {
  background-color: #333;
  color: #f1f1f1;
  padding: 40px 0;
  bottom: 0;
  width: 100%;
  left: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  text-align: left;
}

.author-info p {
  margin: 0;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-links a {
  margin-left: 20px;
  color: #f1f1f1;
  text-decoration: none;
}

.social-links a i {
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

.coronata {
  background-color: #fff;
  padding-top: 100px;
}

img {
  max-width: 83%;
  height: auto;
  vertical-align: middle;
}

.titlepage h2 {
  text-transform: uppercase;
  font-size: 45px;
  color: #353d47;
  line-height: 50px;
  font-weight: bold;
  padding: 0;
  display: inline-block;
}

.coronata .titlepage p {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #111111;
  padding: 35px 0;
}

.d_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.col-md-6 p {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #111111;
  padding: 35px 0
}